html {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.menus ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #666;

}

li {
    border: 2px solid red;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

}
